
body, html {
  height: 100%;
}
.menu-item{
	white-space: nowrap;
}

/* For index.php content */
.parallax { 
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Full height */
  height: 100%; 

  /* filter: grayscale(100%); */


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}


.after{
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.65);
	z-index: 10;
}

.title{
	position: absolute;
	left: 20%;
	transform: translate(-50%,0);
	top: 8%;
	z-index: 100;
}

.image{
	position: absolute;
	left: 70%;
	transform: translate(-50%,0);
	top: 8%;
	z-index: 100;
	min-width: 40%;

}

@media (max-width: 768px) {
	.title{
		left: 40%;
	}
}

@media (max-width: 992px) {
	.title{
		left: 30%;
	}
}

@media (max-width: 1200px) {

}
